<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chamada Visual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="login-logo-container">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo Colégio Carbonell">
            </div>
        <h1>Chamada Visual</h1>
        <p>Por favor, utilize sua conta do Colégio Carbonell para continuar.</p>
        <a href="{{ url_for('login_google') }}" class="google-login-button">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
            Entrar com Google
        </a>
    </div>
</body>
</html>